<div class="{{class}}">
    <label>{{label}}</label>
    <input type="{{type}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}">
    <label class="error">{{error}}</label>
</div>
