<div class="chat">
  <section class="chat_block">
    <a class="chat_profile-link" href="../profile">Профиль ></a>
    <input type="text" class="chat_search" placeholder="Поиск">
    <ul class="chat_list">
        {{{ chatItems }}}
    </ul>
  </section>
  <section class="chat_core">
    <div class="chat_header">
      <div class="chat_avatar"></div>
      <h2 class="chat_name">{{chatName}}</h2>
      <button type="button" class="chat_menu-button"></button>
    </div>
    <div class="chat_messages">
     {{{ chatMessages }}}
    </div>
    <div class="chat_input-block">
      <button class="chat_attach-button"></button>
      {{!-- <input type="text" class="chat_message" placeholder="Сообщение"> --}}
      {{{ inputMessage }}}
      {{{ buttonSend }}}
    </div>
  </section>
</div>

