<div class="chat">
  <section class="chat_block">
    {{{profile}}}
    <input type="text" class="chat_search" placeholder="Поиск">
    <form class="chat_add"> 
      {{{inputChatName}}}
      {{{buttonAddChat}}}
    </form>
    <ul class="chat_list">
        {{{ chatList }}}
    </ul>
  </section>
  <section class="chat_core">
    {{!-- <div class="chat_avatar"></div> --}}
    {{{header}}}
    {{!-- <button type="button" class="chat_menu-button"></button> --}}
    {{{chatCore}}}
  </section>
</div>
