<div class="chat">
  <section class="chat_block">
    {{{profile}}}
    <input type="text" class="chat_search" placeholder="Поиск">
    <form class="chat_add"> 
      {{{inputChatName}}}
      {{{buttonAddChat}}}
    </form>
    <ul class="chat_list">
        {{{ chatItems }}}
    </ul>
  </section>
  <section class="chat_core">
    <div class="chat_header">
      {{!-- <div class="chat_avatar"></div>
      <h2 class="chat_name">{{chatName}}</h2> --}}
      {{{header}}}
      {{!-- <button type="button" class="chat_menu-button"></button> --}}
    </div>
    <div class="chat_messages">
     {{{ chatMessages }}}
    </div>
    <div class="chat_input-block">
      <button class="chat_attach-button"></button>
      {{{ inputMessage }}}
      <label class="error">{{error}}</label>
      {{{ buttonSend }}}
    </div>
    </section>
</div>

