<div class="profile-container">
    <div class="back-button">
        <button class="send-button" onclick="history.back()"></button>
    </div>
    <div class="profile-container_wrapper">
        <div class="profile-container_user">
            <div class="profile-container_user-pic">
            </div>
            <span class="profile-container_user-name">
                {{{ profileName }}}
            </span>
        </div>
        <ul class="profile-container_user-items">
            {{{ email }}}
            {{{ login }}}
            {{{ firstName }}}
            {{{ secondName }}}
            {{{ displayName }}}
            {{{ phone }}}
        </ul>
        <ul class="profile-container_links">
            <li class="profile-container_link">
                {{{ editData }}}
            </li>
            <li class="profile-container_link">
                {{{ editPassword }}}
            </li>
            <li class="profile-container_link">
                {{{ exit }}}
            </li>
        </ul>
    </div>
</div>
