<div class="profile-container">
    <div class="back-button">
        {{{ backButton }}}
    </div>
    <form class="profile-container_wrapper">
        <div class="profile-container_user">
            {{{ avatar }}}
        </div>
        <ul class="profile-container_user-items">
            {{{ email }}}
            {{{ login }}}
            {{{ firstName }}}
            {{{ secondName }}}
            {{{ displayName }}}
            {{{ phone }}}
        </ul>
        <div class="profile-container_button">
            {{{ saveButton }}}
        </div>
    </form>
</div>
