<div class="auth-container">
    <form class="auth-container_form">
        <h1 class="auth-header">Регистрация</h1>
        <div class="auth-container_inputs-reg">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputPhone}}}
            {{{inputPassword}}}
            {{{inputRepeatPassword}}}
        </div>
        <div class="auth-container_button">
            {{{button}}}
        </div>
    </form>
</div>
