<li class="chat-item{{#if isSelected}} chat-item_active{{/if}}">
  <span class="chat-item_title">{{title}}</span>
  <p class="chat-item_message">{{last_message}}</p>
  <div class="{{#if avatar}}chat-item_avatar{{else}}chat-item_avatar chat-item_no-avatar{{/if}}" {{#if avatar}}style="{{avatar}}"{{/if}}></div>
  <span class="chat-item_date">{{time}}</span>
  {{#if unread_count}}
    <span class="chat-item_counter">{{unread_count}}</span>
  {{/if}}
</li>
