<div class="chat-options">
  <div class="chat-user-name ta-center">{{nameChat}}</div>
  <div class="add-remove-user">
    {{{inputUserId}}}
    {{{buttonAddUser}}}
    {{{buttonRemoveUser}}}
  </div>
  {{{buttonRemoveChat}}}
</div>
